
<div class="team">
  <h3>Team Name: <%= @pteam.name %></h3><br>
  <h3>: <%= @team.motto %></h3><br>

</div><br>

<h1>Ships</h1>
<% @members.each do |team| %>
  <div class="super_hero">
    <p>Name: <%= ship.name %></p><br>
    <p>Hero's Power: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p>
  </div><br>
<% end %>
